Source: daemonmap
Section: contrib/games
Priority: extra
Maintainer: Darren Salt <devspam@moreofthesa.me.uk>
Build-Depends: debhelper (>= 8.0.0), cmake,
	libjpeg8-dev (>= 8d-1) | libjpeg62-dev,
	libpng-dev | libpng12-dev,
	libsdl2-dev | libsdl1.2-dev
Standards-Version: 3.9.2
Homepage: http://www.unvanquished.net/
Vcs-Git: git://github.com/Unvanquished/daemonmap.git
Vcs-Browser: http://github.com/Unvanquished/daemonmap

Package: unvanquished-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	unvanquished-common (>= 0.22.0)
Suggests: unvanquished, unvanquished-server
Description: Team-based FPS game, aliens v. humans - dev tools
 This package contains unvanquishedmap, a tool for creating bot navigation
 meshes, map overviews and BSP trees for Unvanquished.

Package: unvanquished-dev-dbg
Section: contrib/debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	unvanquished-dev (= ${binary:Version})
Description: Team-based FPS game, aliens v. humans - dev tools debug info
 This package contains debug information for unvanquishedmap, a tool for
 creating bot navigation meshes, map overviews and BSP trees for
 Unvanquished.
